:root {
  --headerBgColor: #808080;
  --headerMenuItemTxtClr: #ffffff;
  --headerIconBgClr: #ffffff;
  --mainTxtClr: #ffffff;
}

.switcher__radio {
  filter: invert(1);
}

.switcher__radio:checked {
  filter: invert(0);
}

.switcher__status {
  filter: invert(1);
}

.header__menu__icon.burger span,
.header__menu__icon.burger::before,
.header__menu__icon.burger::after {
  filter: invert(0);
}