@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --headerBgColor: #ffffff;
  --headerMenuItemTxtClr: #808080;
  --headerIconBgClr: #3a3131;
  --mainTxtClr: #000000;
}

.header__menu__icon.burger span,
.header__menu__icon.burger::before,
.header__menu__icon.burger::after {
  filter: invert(1);
}

body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body.__lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.conteiner {
  max-width: 1200px;
  margin: 0 auto;
}

.return__btn {
  background-color: #323232;
  border-radius: 50%;
  border: solid 1px #ffffff;
  width: 46px;
  height: 46px;
  position: fixed;
  z-index: 20;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.return__btn img {
  width: 100%;
  height: 30%;
  transform: rotate(-90deg);
  align-self: center;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--headerBgColor);
  padding: 10px 0 0 10px;
  width: 100%;
  transition: opacity 0.8s ease;
}
.header__body.first {
  position: absolute;
  padding: 0 10px 10px 0;
}
.header__body.first .header__body-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__body.first .header__body-top .header__logo {
  display: block;
  flex: 0 0 14%;
  max-width: 227px;
  min-width: 118px;
  max-height: 62px;
  min-height: 32px;
}
.header__body.first .header__body-top .header__logo img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__body.first .header__body-top .subscribe-form {
  margin-bottom: 20px;
  width: 100%;
}
.header__body.first .header__body-top .subscribe-form__group {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #3a3131;
}
.header__body.first .header__body-top .subscribe-form__input {
  width: 100%;
  padding: 0 18px;
  outline: 0;
  color: var(--headerIconBgClr);
}
.header__body.first .header__body-top .subscribe-form__btn {
  width: 60px;
  height: 50px;
  padding: 15px 17px;
  background-color: var(--headerIconBgClr);
}
.header__body.first .header__body-bottom {
  display: flex;
  width: 100%;
}
.header__body.first .header__body-bottom .header__menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.header__body.first .header__body-bottom .header__menu .header__menu__body {
  width: 85%;
}
.header__body.first .header__body-bottom .header__menu .header__menu__body .header__menu__list {
  justify-content: space-around;
}
.header__body.first .header__body-bottom .header__menu .header__menu__body .header__menu__list .header__menu__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .header__body.first .header__body-bottom .header__menu .header__menu__body .header__menu__list .header__menu__item {
    flex-direction: column;
    font-size: 11px;
  }
}
.header__body.first .header__body-bottom .header__menu .header__menu__body .header__menu__list .header__menu__item .item-img-box {
  width: 24px;
  height: 24px;
}
.header__body.first .header__body-bottom .header__menu .header__menu__body .header__menu__list .header__menu__item .item-img-box.special {
  width: 48px;
  height: 27px;
}
@media (max-width: 767px) {
  .header__body.first .header__body-bottom .header__menu .header__menu__body .header__menu__list li:has(.help) {
    display: none;
  }
  .header__body.first .header__body-bottom .header__menu .header__menu__body .header__menu__list li:has(.empty) {
    display: none;
  }
}
.header__body.first .header__body-bottom .header__menu .burger-box {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
@media (max-width: 767px) {
  .header__body.first .header__body-bottom .header__menu .burger-box {
    flex-direction: column;
    font-size: 11px;
  }
  .header__body.first .header__body-bottom .header__menu .burger-box .burger {
    width: 20px;
  }
  .header__body.first .header__body-bottom .header__menu .burger-box .burger span, .header__body.first .header__body-bottom .header__menu .burger-box .burger::before, .header__body.first .header__body-bottom .header__menu .burger-box .burger::after {
    width: 20px;
  }
}
.header__body.first .header__body-bottom .header__menu .mob-menu-item-text {
  display: none;
}
.header__body.first .header__body-bottom .header__menu .desktop-menu-item-text {
  display: block;
}
@media (max-width: 767px) {
  .header__body.first .header__body-bottom .header__menu {
    gap: 0;
  }
  .header__body.first .header__body-bottom .header__menu .mob-menu-item-text {
    display: block;
  }
  .header__body.first .header__body-bottom .header__menu .desktop-menu-item-text {
    display: none;
  }
}
.header__body.second {
  position: absolute;
  padding: 10px 10px 10px 0;
  background-color: #000000;
}
.header__body.second .header__body-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__body.second .header__body-top .body-top__box {
  display: flex;
  flex: 0 0 50%;
  justify-content: end;
  align-items: center;
}
.header__body.second .header__body-top .body-top__box:last-child {
  gap: 10px;
  color: #ffffff;
}
.header__body.second .header__body-top .body-top__box:last-child .lang {
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 24px;
  overflow: hidden;
}
.header__body.second .header__body-top .body-top__box:last-child .lang img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.header__body.second .header__body-top .body-top__box:last-child .checkout {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #96d2a3;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .header__body.second .header__body-top .body-top__box:last-child .checkout {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__body.second .header__body-top .body-top__box:last-child .user-text {
    display: none;
  }
}
.header__body.second .header__body-top .header__logo {
  display: block;
  height: 40px;
}
.header__body.second .header__body-top .header__logo img {
  -o-object-fit: none;
     object-fit: none;
  width: 100%;
  height: 100%;
}
.header__body.second .header__body-top .subscribe-form {
  width: 100%;
}
.header__body.second .header__body-top .subscribe-form__group {
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 5px;
}
.header__body.second .header__body-top .subscribe-form__input {
  width: 100%;
  padding: 0 5px;
  outline: 0;
  color: var(--headerIconBgClr);
}
.header__body.second .header__body-top .subscribe-form__btn {
  width: 36px;
  height: 36px;
  padding: 5px 7px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .header__body.second .header__body-top .subscribe-form {
    width: auto;
  }
  .header__body.second .header__body-top .subscribe-form__input {
    width: 0;
  }
}
.header__body.second .header__body-bottom {
  display: flex;
  width: 100%;
}
.header__body.second .header__body-bottom .header__menu {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.header__body.second .header__body-bottom .header__menu .header__menu__body {
  width: 100%;
}
.header__body.second .header__body-bottom .header__menu .header__menu__body .header__menu__list {
  justify-content: center;
  flex-wrap: wrap;
}
.header__body.second .header__body-bottom .header__menu .header__menu__body .header__menu__list > li:last-child .menu-item-text {
  color: #ff0000;
}
.header__body.second .header__body-bottom .header__menu .header__menu__body .header__menu__list > li:first-child .menu-item-text {
  color: #ff0000;
}
.header__body.second .header__body-bottom .header__menu .header__menu__body .header__menu__list .header__menu__item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
}
.header__body.second .header__body-bottom .header__menu .header__menu__body .header__menu__list .header__menu__item:hover {
  background-color: #fff;
  color: #000000;
  font-weight: 500;
}
@media (max-width: 767px) {
  .header__body.second .header__body-bottom .header__menu .header__menu__body .header__menu__list .header__menu__item {
    font-size: 11px;
  }
}
.header__menu__icon.burger {
  z-index: 5;
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
}
.header__menu__icon.burger span, .header__menu__icon.burger::before, .header__menu__icon.burger::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 30px;
  transition: all 0.3s ease 0s;
  background-color: #fff;
}
.header__menu__icon.burger::before, .header__menu__icon.burger::after {
  content: "";
}
.header__menu__icon.burger::before {
  top: 0;
}
.header__menu__icon.burger::after {
  bottom: 0;
}
.header__menu__icon.burger span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.header__menu__icon.burger.__active span {
  transform: scale(0) translate(0px, -50%);
}
.header__menu__icon.burger.__active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.header__menu__icon.burger.__active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.header__menu__list > li {
  position: relative;
  margin: 0 0 0 20px;
  padding: 10px 0;
}
.header__menu__list .header__menu__item {
  color: var(--headerMenuItemTxtClr);
  font-size: 18px;
}
.header__menu__list .header__menu__item:hover {
  text-decoration: underline;
}

@media (min-width: 767px) {
  .header__menu__list {
    display: flex;
    align-items: center;
  }
  .header__menu__list > li:last-child {
    display: flex;
  }
}
@media (max-width: 767px) {
  .header__body .header__body-top .header__logo.ads {
    display: none;
  }
  .header__menu__list {
    display: flex;
    align-items: center;
  }
  .header__menu__list > li {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
.main {
  background-color: #e6b2b2;
  flex: 1 1 auto;
  padding: 130px 10px 10px 10px;
  font-size: 24px;
}

.timer {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.target-element {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.target-element.finished {
  background-color: lightcoral;
  color: white;
  transform: scale(1.2);
}

.footer {
  background-color: #008000;
}